footer{
    min-height: 222px;
    background: #36a9e1;
    display: flex;   
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    flex-direction: column;
    gap: 15px;
}