section.main{
    background: url('/assets/images/bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    @media screen and (max-width: 930px) {
        background-position: center top;
        padding-left: 20px;
        padding-top: 30px;
    }
    padding-top: 90px;
    padding-left: 60px;
    margin-top: $header_height;
    padding-bottom: 20px;
    .container{
        position: relative;
        @media screen and (max-width: 930px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .main_cleaner{
        position: absolute;
        right: 60px;
        bottom: 0px;
        height: 550px;
        width: 450px;
        @media screen and (max-width: 930px) {
            position: relative;
            top: unset;
            right: unset;
            bottom: unset;
            left: unset;
            height: 700px;
            display: flex;
            // align-items: center;
            flex-direction: column;
            text-align: left;
            padding-top: 115px;
            width: 100%;
        }
        .main_cleaner__label{
            font-size: 14px;
        }
        .main_cleaner__value{
            font-size: 30px;
            color: #e4454a;
            font-weight: bold;
        }
        .main_cleaner__prices{
            position: absolute;
            right: 0px;
            @media screen and (max-width: 930px) {
                right: 15px;
            }
            bottom: 150px;
            text-align: right;
            .main_cleaner_status{
                font-size: 14px;
                color: #00a046;
            }
            .main_cleaner_oldprice{
                font-size: 24px;
                text-decoration: line-through;
                color: #a9a9a9;
            }
            .main_cleaner_price{
                font-size: 48px;
                color: #e4454a;
                font-weight: bold;
                margin-right: -10px;
            }
        }
        img{
            position: absolute;
            right: 0px;
            bottom: 0px;
            @media screen and (max-width: 930px) {
                right: unset;
                bottom: unset;
                left: 50%;
                transform: translateX(-50%);
                top: 30px;
            }
        }
    }
    h1.main_title{
        font-size: 42px;
        font-weight: 800;
        text-transform: uppercase;
        @media screen and (max-width: 930px) {
            text-align: center;
        }
        @media screen and (max-width: 450px) {
            font-size: 34px;
        }
    }
    h3.main_subtitle{
        font-size: 24px;
        font-weight: 600;
        @media screen and (max-width: 930px) {
            text-align: center;
        }
        @media screen and (max-width: 450px) {
            font-size: 18px;
        }
    }

    .main_properties{
        padding-top: 60px;
        &__item{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            gap: 10px;
            &__title{
                font-size: 18px;
                font-weight: 800;
                text-transform: uppercase;
                margin-bottom: 4px;
            }
            &__subtitle{
                font-size: 14px;
                font-size: 600;
            }
        }
    }
    .main_order{
            margin-top: 40px;
            border-radius: 10px;
            background-color: rgb(245, 245, 245);
            box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);
            width: 395px;
            height: 342px;
        .input_block{
            background: white;
            width: 90%;
            height: 63px;
            margin: 0 auto;
            margin-bottom: 15px;
            border-radius: 10px;
            border: 1px solid rgb(220, 220, 220);
            position: relative;
            display: flex;
            overflow: hidden;
            input{
                flex: 1;
                outline: none;
                border: none;
                text-align: center;
                font-size: 14px;
                transition: .2s ease;
            }
            input::placeholder {
                color: #b4b2b2;
            }
            input:focus::placeholder {
                color: transparent;
            }
            .input_icon{
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .order_btn{
            width: 90%;
            margin: 0 auto;
            height: 63px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: rgb(0, 160, 70);
            font-size: 18px;
            color: rgb(255, 255, 255);
            line-height: 1.333;
            margin-top: 30px;
            user-select: none;
            cursor: pointer;
        }
        .main_order__title{
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            padding: 25px 0;
        }
    }
}
  