section.videos{
    background: white;
    padding-top: 75px;
    padding-bottom: 100px;
    .container{
        max-width: 854px;
    }
    .videos_items{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 840px) {
            flex-direction: column;
            align-items: center;
        }
        gap: 80px;
        .videos_item{
            width: 450px;
            @media screen and (max-width: 840px) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            .videos_item_placeholder{
                background-size: cover;
                background-position: center;
                border-radius: 15px;
                width: 438px;
                height: 438px;
            }
            .videos_item__device_name{
                font-size: 14px;
                font-weight: 600;
                margin-top: -18px;
            }
            .videos_item__prices{
                padding-top: 50px;
                display: flex;
                align-items: center;
                gap: 50px;
                .videos_item_relaprice{
                    font-size: 18px;
                    color: #a9a9a9;
                    text-decoration: line-through;
                }
                .videos_item_discount{
                    font-size: 30px;
                    color: #e4454a;
                    font-weight: bold;
                }
                .videos_item_comment{
                    font-size: 14px;
                    color: #00a046;
                    font-weight: 400;
                }
                .videos_item__btn{
                    padding: 22px 55px;
                    background-color: #00a046;
                    color: white;
                    border-radius: 10px;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
            h1.videos_item__title{
                margin-top: 25px;
                margin-bottom: 25px;
                font-size: 30px;
                color: rgb(0, 0, 0);
                font-weight: bold;
                text-transform: uppercase;
                line-height: 0.9;
            }
            .videos_item__desc{
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}
  
  .__Безмежні__можливості__Відчуйте_різницю_зі_спр {
  font-size: 18px;
  font-family: "MontserratRoman";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  position: absolute;
  left: 518.937px;
  top: 2490.875px;
  z-index: 76;
}
